/* stylelint-disable max-nesting-depth*/
.dongyu-page {
  &__image-api {
    h2:nth-child(1) {
      color: rgb(250, 137, 0);
    }

    img:nth-child(2) {
      height: 100%;
      width: 35rem;
    }
  }

  &__backend-message {
    h2:nth-child(1) {
      color: rgb(180, 132, 10);
    }

    // h2:nth-child(7) {
    //   color: rgb(24, 122, 207);
    // }

    ul {
      list-style: none;
    }

    span,
    li {
      font-size: 1.3rem;
    }
  }
}

.get-end-list {
  color: rgb(35, 83, 172);

  li {
    font-size: 1.5rem;
  }
}

//删除input：NUmber侧边的上下箭头
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   appearance: none;
// }

// input [type='number'] {
//   appearance: textfield;
// }
//-----------------------------

.insert-order {
  background-color: rgb(241, 248, 255);
  font-size: 1.5rem;
  height: 1100px;

  p,
  form,
  input,
  button,
  select,
  label {
    // background-color: rgb(241, 248, 255);
    font-size: 1.3rem;
  }

  label {
    margin: 30px;
  }

  p {
    color: rgb(255, 45, 45);
    font-size: 2rem;
    margin-bottom: 0;
    margin-left: 10px;
    margin-top: 0;
  }

  p:nth-child(2) {
    color: rgb(79, 79, 241);
  }

  h4,
  h5 {
    background-color: rgb(241, 248, 255);
    margin-bottom: 0;
    margin-left: 10px;
    margin-top: 0;
  }

  input {
    margin: 10px;
  }

  // .col-50 {
  //   float: left;
  //   width: 50%;
  //   margin-top: 6px;
  // }
}

.finish-order {
  background-color: rgb(245, 245, 217);
  height: 200px;

  h1 {
    margin-top: 0;
  }

  .finish {
    // display: none;
  }

  .not-finish {
  }

  input {
    font-size: 1rem;
    height: 20px;
    margin-left: 20px;
    width: 80px;
  }

  .order {
    display: flex;
    margin: 20px;
  }
}

// button {
//   background-color: #4caf50;
//   border: none;
//   color: rgb(255, 255, 255);
//   cursor: pointer;
//   margin: 4px 2px;
//   margin: 10px;
//   padding: 16px 32px;
//   text-decoration: none;
// }
